<div class="jumbotron">
  <h2>Rhizomik Copyright<b>LY</b></h2>
  <p>Decentralized Application (ÐApp) for Copyright Management of Social Media</p>
  <h3>Project Description</h3>
  <p>
    CopyrightLY is a decentralised application that leverages blockchain and semantic web technologies to facilitate
    copyright management of social media. It is integrated into existing social media platforms and allows content
    creators to explore ways to exploit their media beyond those made possible by those platforms. It also provides
    potential reusers ways of checking authorship of the content they are willing to reuse and the conditions under
    which it is available.
  </p>
  <p>
    To do so, content on social media platforms is linked by creators to on-chain authorship claims tied to their
    identities. Additional evidence can be provided combining off-chain data and on-chain transactions to sustain
    those claims. Thus, they can be used in case of a copyright complaint, even as evidence in court. This approach
    also discourages false claims, which cannot be retracted once on-chain.
  </p>
  <p>
    Authorship claims are accompanied by default reuse conditions modelled using semantic technologies and based on
    a copyright ontology. They provide the necessary and unambiguous building blocks that also make the terms
    machine-actionable. Reusers can negotiate these terms and, after acceptance, on-chain transactions are generated
    to keep track of the agreed terms.
  </p>
  <h3>Team</h3>
  <a href="https://www.udl.cat" target="_blank">
    <img src="assets/UdL.svg" height="65px" alt="Universitat de Lleida"/>
  </a>
  <ul>
    <li><a href="https://rhizomik.net/~roberto" target="_blank">Roberto García</a></li>
    <li><a href="http://www.dret.udl.cat/ca/pla-formatiu/professorat/detall/index.html?enc=MjA4MjQyMTQ=" target="_blank">Ana Cediel</a></li>
    <li><a href="https://www.researchgate.net/profile/Rosa-Gil-3" target="_blank">Rosa Gil</a></li>
    <li><a href="https://www.researchgate.net/profile/Merce-Teixido" target="_blank">Mercè Teixidó</a></li>
  </ul>
  <h3>Contact</h3>
  <pre>copyrightly@rhizomik.net</pre>
  <h3>Support</h3>
  <p>
    Supported by project ONTOCHAIN, which has received funding from the European Union’s Horizon 2020 research and
    innovation programme under grant agreement No 957338
  </p>
  <a href="https://ontochain.ngi.eu" target="_blank">
    <img src="https://ontochain.ngi.eu/sites/default/files/logo-ngi-ontochain-positive.png" height="60px" alt="ONTOCHAIN Logo"/>
  </a>
  <img src="https://ontochain.ngi.eu/sites/default/files/images/EU_flag.png" height="60px" alt="European Union Flag"/>
</div>
<div>
  <p><span class="fa fa-github"></span><a href="https://github.com/rhizomik/copyrightly">
    https://github.com/rhizomik/copyrightly</a></p>
</div>
