<div *ngIf="!notFound">
  <h3>Manifestation</h3>

  <div class="card mb-1">
    <div class="card-block row m-1">
      <h5 class="card-title col-md-12 p-1">{{manifestation?.title}}</h5>
      <div class="col-md-6 p-1 mb-1">
        <h6 class="card-subtitle text-muted">Hash</h6>
        <a class="card-text" href="https://ipfs.infura.io/ipfs/{{manifestation?.hash}}"
           target="_blank">{{manifestation?.hash}}</a>
      </div>
      <div class="col-md-2 p-1 mb-1">
        <h6 class="card-subtitle text-muted">Creator</h6>
        <a class="card-text" *ngFor="let author of manifestation?.authors" title="{{author}}"
           [routerLink]="['/creators', author]">
          {{author | slice:0:6}}...{{author | slice:-4}}
        </a>
      </div>
      <div class="col-md-3 p-1 mb-1">
        <h6 class="card-subtitle text-muted">Registered</h6>
        <a class="card-text" href="https://rinkeby.etherscan.io/tx/{{manifestation?.transaction}}" target="_blank">
          {{manifestation?.creationTime | date:'medium'}}</a>
      </div>
      <div class="col-md-1 p-1 mb-1">
        <h6 class="card-subtitle text-muted">Evidence</h6>
        <p class="card-text">{{manifestation?.evidenceCount}}</p>
      </div>
    </div>
    <div class="card-footer">
      <div class="form-group row m-1">
        <div class="input-group input-group-sm">
          <input id="inputStaked" name="inputStaked" type="number" class="form-control" readonly #inputStaked="ngModel"
                 [ngModel]="manifestation.getStaked()">
          <div class="input-group-append">
          <span class="input-group-text">
            <span class="fas fa-copyright logo-icon"></span>LY Staked</span>
          </div>
          <button type="button" class="btn btn-sm btn-success ml-2" [disabled]="staking || addingEvidence()"
                  (click)="staking = true; type = 0">Add</button>
          <button type="button" class="btn btn-sm btn-danger ml-2" [disabled]="staking || addingEvidence()"
                  (click)="staking = true; type = 1">Remove</button>
        </div>
      </div>
    </div>
  </div>

  <app-manifestation-stake *ngIf="staking && !addingEvidence()" [type]="type" [manifestation]="manifestation"
                           [hidden]="hidAddStake" (cancel)="staking = false" (done)="addedStake($event)">
  </app-manifestation-stake>

  <div *ngIf="manifestation.getStaked() == '0'" class="card mb-4">
    <div class="card-block row m-1">
      <h5 class="card-title col-md-12 p-1">No stake on this manifestation yet</h5>
      <p class="card-text col-md-12 p-1 alert-danger">Warning! This manifestation can be <b>overwritten</b>, if no
        CLY is staked on it, after {{manifestation?.expiryTime | date:'medium'}}</p>
    </div>
  </div>

  <button class="btn btn-secondary mb-4" (click)="back()">Back</button>

  <h3>Authorship Evidence</h3>

  <button *ngIf="!addingEvidence()" type="button" class="btn btn-success mb-4"
          (click)="addingUploadableEvidence = true">Add Uploadable Evidence</button>

  <button *ngIf="!addingEvidence()" type="button" class="btn btn-success mb-4 ml-2"
          (click)="addingYouTubeEvidence = true">Add YouTube Evidence</button>

  <app-upload-evidence *ngIf="addingUploadableEvidence" [manifestation]="manifestation" [hidden]="hidUploadEvidence"
                       (cancel)="addingUploadableEvidence = false" (done)="hidUploadEvidence = true"
                       (evidence)="addedUploadEvidence($event.what)">
  </app-upload-evidence>

  <app-youtube-evidence *ngIf="addingYouTubeEvidence" [manifestation]="manifestation" [hidden]="hidYouTubeEvidence"
                       (cancel)="addingYouTubeEvidence = false" (done)="hidYouTubeEvidence = true"
                       (evidence)="addedYouTubeEvidence($event)">
  </app-youtube-evidence>

  <div *ngIf="(uploadEvidence?.length == 0) && (youTubeEvidence?.length == 0) && !addingEvidence()" class="card mb-4">
    <div class="card-block row m-1">
      <h5 class="card-title col-md-12 p-1">No evidence yet</h5>
    </div>
  </div>

  <div id="list" *ngIf="!addingEvidence()">
    <app-uploadevidence-details *ngFor="let evidence of uploadEvidence; let i = index"
                                [evidence]="evidence" [evidenceIndex]="i+1">
    </app-uploadevidence-details>
    <app-youtubeevidence-details *ngFor="let evidence of youTubeEvidence; let i = index"
                                [evidence]="evidence" [evidenceIndex]="i+1">
    </app-youtubeevidence-details>
  </div>

  <h3>Reuse Offers</h3>

  <div class="card mb-4">
    <div class="card-block row m-1">
      <p *ngIf="manifestation?.getStaked() == '0' || uploadEvidence.length + youTubeEvidence.length == 0"
         class="card-text col-md-12 p-1 alert-warning">Not possible to make <b>reuse offers</b> for this manifestation,
        there is not CLY staked on it or at least one piece of evidence supporting authorship.</p>
      <button *ngIf="manifestation?.getStaked() != '0' && uploadEvidence.length + youTubeEvidence.length > 0"
              type="button" class="btn btn-info m-2" (click)="defaultReuseOffer()">Default Reuse Offer</button>
    </div>
  </div>

</div>

<div *ngIf="notFound" class="text-center">
  <button class="btn btn-info" (click)="back()">Back</button>
</div>
